
#psit {
    position: relative;
  }
  
  #psit .container_bg {
    position: relative;
    overflow: hidden;
  }
  
  #psit .about-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust as needed */
    height: 100%;
    z-index: -1;
    
  }
  
  #psit .about-banner:hover::after {
    transform: scaleX(-1); /* Flip the burl background on hover */
  }
  
  /* Section 2: Ignitia */
  #ignitia {
    margin-top: 20px;
    /* background-color: black; */
    /* background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);    transition: box-shadow 0.3s ease;  */
  }
  
  #ignitia:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adding shadow on hover */
  }
  
  /* Section 3: Adhvanik */
  #adhvanik {
    
    /* background-color: #000; */
    color: #fff; /* White text color for better visibility on black background */
  }
  
  /* Additional styling for the box around the about text */
  .about-content1 {
    border: 2px solid #ffd700; /* Golden border color */
    padding: 20px;
    border-radius: 10px; /* Adjust as needed */
  }

  #igni{
    background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
  }